.navbar-inverse .navbar-nav>li>a {
    color: #D0C2C2;
}

.mainContaier {
    margin-top: 50px;
}

.homeContent {
/*    padding: 30px 10px;*/
    background: #000;
}

.homeContent h1 {
    padding-top: 15px;
    color: #FFF;
    text-align: center;
    margin-bottom: 0;
}

.homeContent .div2 {
    background: yellow;
/*    background-size: cover;*/
    padding: 60px 30px;
    font-size: 60px;
/*    color: #FFF;*/
    text-align: center;
}

.homeContent .courseList {
    list-style: none;
    background: #000;
    padding: 30px 15px;
}

.homeContent .courseList li {
    padding: 7px;
}

.homeContent .courseList li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    height: 120px;
    padding: 5px;
    background: #9AA6FF;
    text-align: center;
}

.homeContent .courseList li a:hover {
    border-bottom: 3px solid yellow;
}

@media (max-width: 767px) {
    .navbar-nav>li {
        border-left: 4px solid transparent;
    }

    .navbar-nav>li.active {
        border-left: 4px solid #6666FD;
    }

    .navbar-nav>li:hover,
    .navbar-nav>li:focus {
        border-left: 4px solid #F00;
    }
}
@media (min-width: 768px) {
    .navbar-nav>li.active {
        border-bottom: 4px solid #6666FD !important;
    }
    .navbar-nav>li:hover,
    .navbar-nav>li:focus {
        border-bottom: 4px solid #F00;
    }
    .navbar-nav>li>a {
        padding-bottom: 11px;
    }
}